<!DOCTYPE html>
<html id="ng-app" lang="zh-CN" ng-app="myEnquiry" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>德合睿创 - 询价 - 2.完善信息</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-bindonce/bindonce.min.js"></script>
    <script src="js/my-base.js"></script>
    <script src="js/my-user.js"></script>
    <script src="js/my-enguiry-step-2.js"></script>

    <script type="text/ng-template" id="tpl/select-date.html">
        <div class="modal-header">
            请选择投放时间：<span ng-attr-tooltip="微信ID：{{item.code}}">{{item.title}}</span>
        </div>
        <div class="modal-body">
            <div style="float:left;margin: 10px 30px">
                投放开始时间
                <div datepicker ng-model="item.dateStart" min-date="minDate" max-date="item.dateEnd" show-weeks="true"
                     class="well well-sm"></div>
            </div>
            <div style="float:left;margin:10px 30px">
                投放结束时间
                <div datepicker ng-model="item.dateEnd" min-date="item.dateStart" show-weeks="true"
                     class="well well-sm"></div>
            </div>
            <div style="float:left;padding:260px 0 20px 0">
                <button class="btn btn-primary" ng-click="$close()">确 定</button>
            </div>
            <div class="clear"></div>
        </div>
    </script>
</head>
<body bindonce ng-controller="UserStateController">
<header>
    <div class="container">
        <img class="logo" src="./images/logo.png" alt="德合睿创" title="德合睿创">
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><img src="./images/footerGeDuan.png"></li>
            <li><a href="aboutUs.html">关于我们</a></li>
            <li><img src="./images/footerGeDuan.png"></li>
            <li><a href="contactUs.html">联系我们</a></li>
            <li><img src="./images/footerGeDuan.png"></li>
            <li class="selected">询价</li>
        </ul>
    </div>
</header>
<div ng-controller="EnquiryController">
    <div class="head-bar">
        <div data-spy="affix" data-offset-top="70">
            <div class="container">
                <div class="head-bar-content">
                    <div class="steps">
                        <div class="step">
                            <span class="text">1. 选择公众号</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="step selected">
                            <span class="arrow-start"></span>
                            <span class="text">2. 完善信息</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="step">
                            <span class="arrow-start"></span>
                            <span class="text">3. 提交询价</span>
                        </div>
                    </div>

                    <div class="shopping-cart">

                        <div my-user-label></div>
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span class="badge" ng-bind="order.items.length"></span>
                        <span class="total-price"><span>≈¥</span><span ng-bind="order.totalPrice"></span></span>
                        <a class="btn btn-default" href="enquiry.html">上一步</a>
                        <a class="btn btn-primary" ng-click="commit()">提交询价请求</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="errorMsg">
        <label class="label label-danger pull-right" style="margin-right:16px" ng-bind="errorMsg"></label>

        <div class="clear"></div>
    </div>
    <div class="container xj-step2">
        <div class="row xj-head">
            <form class="form-horizontal">
                <div class="form-group" ng-class="{'has-error':artTitle.hasError()}">
                    <label class="control-label col-lg-1">标题</label>

                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-model="artTitle.value"
                               ng-change="artTitle.onChanged()">
                    </div>
                    <label class="control-label small col-lg-4" style="text-align: left" ng-show="artTitle.hasError()">
                        &nbsp;<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;{{artTitle.msg}}
                    </label>
                </div>
                <div class="form-group" ng-class="{'has-error':artSubject.hasError()}">
                    <label class="control-label col-lg-1">摘要</label>

                    <div class="col-lg-7">
                        <textarea class="form-control" ng-model="artSubject.value"></textarea>
                    </div>
                    <label class="control-label small col-lg-4" style="text-align: left"
                           ng-show="artSubject.hasError()">
                        &nbsp;<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;{{artSubject.msg}}
                    </label>
                </div>
            </form>
        </div>
        <div>
            <div class="gzh-item" ng-repeat="item in order.items">
                <div class="gzh-icon">
                    <img ng-src="./logos/{{item.logo}}">

                    <div class="gzh-type"><span class="badge">{{item.type}}</span></div>
                </div>
                <div class="gzh-info">
                    <div class="gzh-title"><span ng-attr-tooltip="微信ID：{{item.code}}">{{item.title}}</span></div>
                    <div class="gzh-fans">粉丝数：{{item.fans}}<span class="wan">万</span></div>
                    <div class="gzh-reads"><span tooltip="周 / 月">阅读量：{{item.rW}} / {{item.rM}}</span></div>
                </div>
                <div class="gzh-right">
                    <div class="gzh-price"><span>≈¥</span><span>{{item.price}}</span></div>
                    <div class="btn-gzh">
                        <button class="btn btn-default btn-sm" ng-click="delItem(item)">删除</button>
                    </div>
                </div>
                <div class="gzh-date">
                    <span>投放自</span><span class="badge" ng-click="selectDate(item)">{{d2s(item.dateStart)}}</span>至<span
                        class="badge" ng-click="selectDate(item)">{{d2s(item.dateEnd)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        Copyright © 2014-2015 德合睿创
    </div>
</div>
</body>
</html>