<!DOCTYPE html>
<html id="ng-app" lang="zh-CN" ng-app="myEnquiry" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>德合睿创 - 询价 - 1.选择公众号</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_zh-cn.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.min.js"></script>
    <script src="bower_components/angular-bindonce/bindonce.min.js"></script>
    <script src="js/my-base.js"></script>
    <script src="js/my-user.js"></script>
    <script src="js/my-enquiry.js"></script>
</head>
<body bindonce ng-controller="UserStateController">
<header>
    <div class="container">
        <img class="logo" src="./images/logo.png" alt="德合睿创" title="德合睿创">
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><img src="./images/footerGeDuan.png"></li>
            <li><a href="aboutUs.html">关于我们</a></li>
            <li><img src="./images/footerGeDuan.png"></li>
            <li><a href="contactUs.html">联系我们</a></li>
            <li><img src="./images/footerGeDuan.png"></li>
            <li class="selected">询价</li>
        </ul>
    </div>
</header>
<div ng-controller="EnquiryController">
    <div class="head-bar">
        <div data-spy="affix" data-offset-top="70">
            <div class="container">
                <div class="head-bar-content">
                    <div class="steps">
                        <div class="step selected">
                            <span class="text">1. 选择公众号</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="step">
                            <span class="arrow-start"></span>
                            <span class="text">2. 完善信息</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="step">
                            <span class="arrow-start"></span>
                            <span class="text">3. 提交询价</span>
                        </div>
                    </div>

                    <div class="shopping-cart">
                        <div my-user-label></div>
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span class="badge" ng-bind="cartItemCount"></span>
                        <span class="total-price">参考价 ¥ {{totalPrice | gzhPrice}}</span>
                        <a class="btn btn-primary" href="#" ng-click="nextStep()" ng-disabled="!nextEnabled()">下一步</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="errorMsg">
        <label class="label label-danger pull-right" style="margin-right:16px" ng-bind="errorMsg"></label>

        <div class="clear"></div>
    </div>
    <div class="container login-hint" ng-show="!user.hasLogin()">
        <h3>请先<a href ng-click="user.showLoginDlg()">登录</a>或<a href="sign-in.html">注册</a></h3>
    </div>

    <div class="container" ng-show="user.hasLogin()">
        <div class="enquiry-pages-bar">
            <div class="condition on-top">
                <label>价格范围：</label>
                <select ng-model="priceRange" ng-change="priceRangeChange()">
                    <option value="all">全部价格</option>
                    <option value="500-1k">¥500 - ¥1000</option>
                    <option value="1k-3k">¥1000 - ¥3000</option>
                    <option value="3k-5k">¥3000 - ¥5000</option>
                    <option value="5k-1w">¥5000 - ¥1w</option>
                    <option value="1w-2w">¥1w - ¥2w</option>
                    <option value="2w+">¥2w以上</option>
                </select>
                <span>&nbsp;&nbsp;</span>
                <label>公众号类型：</label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="all_type" ng-change="all_type_change()"><b>全部</b>
                </label>
                <label class="checkbox-inline" ng-repeat="type in types">
                    <input type="checkbox" ng-model="type.selected" ng-change="typesChange()"><span
                        ng-bind="type.name"></span>
                </label>
            </div>
            <div ng-show="totalCount>COUNT_PER_PAGE">
                <div pagination total-items="totalCount" ng-model="currentPage" ng-change="queryGZH()" max-size="50"
                     class="pagination-sm" boundary-links="true"
                     previous-text="上页" next-text="下页" items-per-page="COUNT_PER_PAGE"
                     first-text="首页"
                     last-text="末页"></div>
                <b class="pages-info">公众号 {{totalCount}} 个，共 {{totalPages()}} 页</b>

                <div class=clear></div>
            </div>
        </div>
        <div>
            <div class="gzh-item" ng-class="{'selected':item.isSelected}" ng-repeat="item in gzhs">
                <div class="gzh-icon">
                    <a ng-href="{{item | gzhUrl}}" href="#" target="_blank">
                        <img ng-src="{{item | gzhLogoUrl}}" onerror="gzhLogoError(this)">

                        <div class="gzh-type" ng-class="{warning:item.notFA}" tooltip="{{item | gzhWarning}}">
                            {{item.type}}
                        </div>
                    </a>
                </div>
                <div class="gzh-info">
                    <div class="gzh-title"><a ng-href="{{item | gzhUrl}}" href="#" target="_blank">{{item.title}}</a></div>
                    <div class="gzh-fans">微信ID：{{item.code}}</div>
                    <div class="gzh-fans">粉丝数：{{item.fans}}万</div>
                    <div class="gzh-reads">一周平均阅读量：{{item | gzhRead}}</div>
                </div>
                <div class="gzh-right">
                    <div class="gzh-ckj"><small>参考价</small></div>
                    <div class="gzh-price">¥ {{item.price | gzhPrice}}</div>
                    <div class="btn-gzh">
                        <button class="btn btn-default btn-sm" ng-click="selectGZH(item)"
                                ng-bind="item | gzhBtnTitle"></button>
                    </div>
                </div>
                <div class=clear></div>
                <div></div>
            </div>
            <div class=clear></div>
        </div>
        <div class="enquiry-pages-bar" ng-show="totalCount>0">
            <div ng-show="totalCount>COUNT_PER_PAGE">
                <div pagination total-items="totalCount" ng-model="currentPage" ng-change="queryGZH()" max-size="50"
                     class="pagination-sm" boundary-links="true"
                     previous-text="上页" next-text="下页" items-per-page="COUNT_PER_PAGE"
                     first-text="首页"
                     last-text="末页"></div>
                <b class="pages-info">公众号 {{totalCount}} 个，共 {{totalPages()}} 页</b>

                <div class=clear></div>
            </div>
            <div class="condition on-bottom">
                <label>价格范围：</label>
                <select ng-model="priceRange" ng-change="priceRangeChange()">
                    <option value="all">全部价格</option>
                    <option value="500-1k">¥500 - ¥1000</option>
                    <option value="1k-3k">¥1000 - ¥3000</option>
                    <option value="3k-5k">¥3000 - ¥5000</option>
                    <option value="5k-1w">¥5000 - ¥1w</option>
                    <option value="1w-2w">¥1w - ¥2w</option>
                    <option value="2w+">¥2w以上</option>
                </select>
                <span>&nbsp;&nbsp;</span>
                <label>公众号类型：</label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="all_type" ng-change="all_type_change()"><b>全部</b>
                </label>
                <label class="checkbox-inline" ng-repeat="type in types">
                    <input type="checkbox" ng-model="type.selected" ng-change="typesChange()"><span
                        ng-bind="type.name"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="copy-right">
        Copyright © 2014-2015 德合睿创
    </div>
</div>
</body>
</html>